@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 微软雅黑;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.ml45 {
    margin-left: 45px
}

.box-num {
    cursor: pointer;
}

.active {
    display: block;
}
.rebinding-box .box-title {
    /*width: 500px;*/
    /*margin: 60px auto;*/
    /*text-align: center*/
}

.rebinding-box .box-title i {
    font-size: 12px;
    color: #999
}

.rebinding-box .box-timeline {
    width: 705px;
    margin: 0 auto;
    text-align: center
}

.rebinding-box .box-timeline ul li {
    float: left;
    font-size: 14px;
    /*color: #999;*/
    width: 100px;
    position: relative;
    margin-right: 105px
}

.rebinding-box .box-timeline .outside0ab {
    width: 30px;
    height: 30px;
    background-color: #d7d7d7;
    border-radius: 50%;
    line-height: 30px;
    margin: 10px auto;
    display: flex;
    display: -webkit-flex;
    align-items: center
}

.rebinding-box .box-timeline .outside1ab {
    width: 30px;
    height: 30px;
    background-color: #d7d7d7;
    border-radius: 50%;
    line-height: 30px;
    margin: 10px auto;
    display: flex;
    display: -webkit-flex;
    align-items: center
}

.rebinding-box .box-timeline .outside2a {
    width: 30px;
    height: 30px;
    background-color: #d7d7d7;
    border-radius: 50%;
    line-height: 30px;
    margin: 10px auto;
    display: flex;
    display: -webkit-flex;
    align-items: center
}

.rebinding-box .box-timeline .outside0ab:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 105px;
    background-color: #d7d7d7;
    top: 48px;
    right: 71px;
    z-index: 2
}

.rebinding-box .box-timeline .outside0ab:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 105px;
    background-color: #d7d7d7;
    top: 48px;
    left: 71px;
    z-index: 2
}

.rebinding-box .box-timeline .outside1ab:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 105px;
    background-color: #d7d7d7;
    top: 48px;
    right: 71px;
    z-index: 2
}

.rebinding-box .box-timeline .outside1ab:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 105px;
    background-color: #d7d7d7;
    top: 48px;
    left: 71px;
    z-index: 2
}

.rebinding-box .box-timeline .outside2a:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 105px;
    background-color: #d7d7d7;
    top: 48px;
    right: 71px;
    z-index: 2
}

.rebinding-box .box-timeline div[class*=box-num] {
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin: 14px auto;
    border-radius: 50%;
    background-color: #39f;
    color: #fff
}
.rebinding-box .box-timeline .outside0ab .num2ab {
    background-color: #999
}

.rebinding-box .box-timeline .outside1ab .num2ab {
    background-color: #999
}

.rebinding-box .box-timeline .outside2a .num3a {
    background-color: #999
}

.rebinding-box .box-timeline ul .box-num1 {
    background-color: #39f
}

.rebinding-box .box-timeline .box-num2, .rebinding-box .box-timeline .box-num3 {
    margin-left: 45px
}

.rebinding-box .box-timeline .box-num1:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 105px;
    background-color: #39f;
    top: 48px;
    left: 71px
}

.rebinding-box .box-timeline .num2ab:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 105px;
    background-color: #39f;
    top: 48px;
    right: 71px
}

.rebinding-box .box-timeline .num2ab:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 105px;
    background-color: #39f;
    top: 48px;
    left: 71px
}

.rebinding-box .box-timeline .num3a:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 105px;
    background-color: #39f;
    top: 48px;
    right: 71px
}

.rebinding-box div[class*=box-form] {
    width: 100%;
    /*margin-top: 130px;*/
    position: absolute;
    /*left: 41%*/
}

.rebinding-box .twobox-form {
    display: none
}

.rebinding-box .threebox-form {
    display: none
}
