.wrapper {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

footer {
  width: 100vw;
  height: 45px;
  line-height: 45px;
  color: #333333;
  font-size: 14px;
  opacity: .5;
  text-align: center;
}