.header {
  position: relative;
  width: 100vw;
  height: 96px;
  background: inherit;
  background-color: rgba(37, 127, 211, 1);
  box-sizing: border-box;
  border: 1px solid rgba(121, 121, 121, 1);
  color: #FFFFFF;
  padding: 10px 20px;
}

.header-top {
  width: 100%;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.icon {
  display: inline-block;
  width: 10px;
  height: 14px;
}

.num {
  font-weight: 400;
  color: #00FF00;
}


.name-1, .text-info-1 {
  width: 100%;
  text-align: center;
}

.name {
  font-size: 18px;
  font-weight: 500;
}

.text-info {
  margin-top: 5px;
  font-size: 14px;
}

.arrow-back {
  position: absolute;
  width: 48px;
  height: 52px;
  background: url(/osce/biz/img/show/back_arrow.png) no-repeat center;
  background-size: 19px 24px;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.manage-btns {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #8a8a8a;
}

.register-btn, .registered-btn {
  flex: 1;
  height: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.registered-num {
  color: red;
}

.registered-btn {
  border-left: 1px solid #8a8a8a;
}

/* 主要内容 */
.has-register {
  display: none;
}

.await-register, .has-register {
  flex: 1;
  width: 100%;
  overflow-y: hidden;
}

/* 入场登记 */
.await-register {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.tester-info {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  padding: 20px 50px 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.face-area {
  width: 170px;
  height: 170px;
  background: rgba(242, 242, 242, 1);
  text-align: center;
  line-height: 170px;
}
.face-img {
  /*width: 169px;*/
  height: 167px;
  background: rgba(242, 242, 242, 1);
  text-align: center;
  line-height: 170px;
}


.tester-main {
  flex: 1;
  height: 100%;
  margin-left: 30px;
  text-align: left;
}

.self-tester {
  width: 136px;
  height: 36px;
  line-height: 36px;
  /*background: rgba(0, 102, 255, 1);
  border: 1px solid rgba(121, 121, 121, 1);*/
  border-radius: 5px;
  text-align: center;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.name-area, .chat-info, .card-info {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d2d2d2;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}

.tester-name, .tel, .card-num {
  color: #9a9a9a;
  margin-right: 5px;
}

.identity-btn {
  width: 40px;
  height: 46px;
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  /*background: url(../images/register-arrow.png) no-repeat center;*/
  background-size: 20px 23px;
}

.actived {
  color: rgb(0, 150, 136);
}

.gap {
  width: 100%;
  height: 24px;
  background: rgba(242, 242, 242, 1);
}

.await-register-main {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.main-text {
  width: 100%;
  position: relative;
}

.main-user-info {
  position: absolute;
  right: 100px;
  top: 25%;
  transform: translateY(-50%);
}

.control-area {
  position: relative;
  width: 100vw;
  height: 40px;
  box-sizing: border-box;
  padding-top: 50px;
}

.tester-info-item {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 0 50px;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d2d2d2;
}

.ietm-left {
  width: 60%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item-left-1 {
  width: 25%;
  text-align: left;
}

.item-left-2 {
  width: 25%;
  text-align: left;
}

.item-left-3 {
  width: 50%;
  text-align: left;
}

.tester-time {
  flex: 1;
  text-align: right;
}

.notice-text {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.print-btn {
  position: absolute;
  width: 160px;
  height: 36px;
  line-height: 36px;
  /*background-color: rgba(0, 102, 255, 1);*/
  box-sizing: border-box;
  /*border: 1px solid rgba(121, 121, 121, 1);*/
  border-radius: 5px;
  color: #FFFFFF;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 500;
  right: 30px;
}

/* 已登记 */

.has-register-main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.tester-item {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 0 20px 0 10px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d2d2d2;
  color: #333333;
  font-size: 12px;
}

.register-info-left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.register-info-right {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register-time {
  font-weight: lighter;
  margin-right: 50px;
}

.item-actived {
  color: #0669ff;
}